*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url('/img/blue_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 95vh;
    width: 165vh;
}
/*Start navigation section*/
    .sec-nav
    {
        display: flex;
        justify-content: space-between;
        
    }
    .right-sec
    {
        display: flex;
        text-align: center;
        padding: 40px;
    }
    .right-sec-logo img
    {
        height: 70px;
    }
    ul
    {
        list-style-type: none; 
        text-decoration: none; 
        display: flex;
        justify-content: space-between;
        margin-left: -1rem;
        padding: 20px;
    }
    li a 
    {
        text-decoration: none;
        padding: 10px;
        color: rgb(95, 93, 93);
        font-weight: bold;
    }
    li a:hover
    {
        color: rgb(39, 149, 245);
    }
    .left-sec
    {
        position: absolute;
        top: 3rem;
        right: 2rem;
    }
    
    .left-sec button
    {
        border: none;
        background-color: white;
        padding: 15px 50px;
        border-radius: 30px;
        color: rgb(95, 93, 93);
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        transition: .4s;
    }
    .left-sec button:hover 
    {
        transform: scale(1.1);
        cursor: pointer;
        background-color: rgb(39, 149, 245);
    }
    .left-sec button a
    {
        text-decoration: none;
    }
/*End navigation section*/
/*End fisrt section*/
    .first-sec-p
    {
        position: absolute;
        top: 20rem;
        right: 46rem;
    }
    .h-1
    {
        font-size: 50px;
        color: rgb(95, 93, 93);
        padding-left: 80px;
    }
    .h-1 span
    {
        color: #96318D;
    }
    .h-4
    {
        font-size: 20px;
        padding: 10px 150px 10px 80px;
        color: rgb(95, 93, 93);
    }
    .img-1
    {
        height: 70vh;
        position: absolute;
        right: 26px;
        top: 13rem;
    }
    .img-2
    {
        height: 50vh;
        position: absolute;
        right: 14rem;
        top: 15rem;  
    }
  
    .img-3
    {
        height: 13rem;
        width: 100rem;
        position: absolute;
        right: 21rem;
        bottom: 0.5rem;
    }
    .img-4
    {
        height: 15rem;
        width: 27rem;
        position: absolute;
        bottom: 1rem;
        right: 8rem;
    }
/*End fisrt section*/
/*Start second section*/
.second-sec
{
    display: flex;
    justify-content: center;
}
.second-sec-img1
{
    height: 30rem;
    position: absolute;
    top: 55rem;
}
.second-sec-img2
{
    height: 9rem;
    position: absolute;
    top: 59rem;
    right: 70rem;
}
.second-sec-img1-sec
{
    position: absolute;
    top: 69rem;
    left: 10rem;
}
.second-sec-img1-h4
{
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
}
.second-sec-img1-p
{
    padding: 11px 60px 10px 10px;
    margin-right: 63rem;
}
.second-sec-img3
{
    height: 9rem;
    position: absolute;
    top: 69rem;
    right: 43rem;
}
.second-sec-img2-sec
{
    position: absolute;
    top: 78rem;
    left: 37rem;
}
.second-sec-img2-sec h4
{
    font-weight: bold;
    padding-left: 10px;
    font-size: 18px;
}
.second-sec-img2-sec p
{
    margin-right: 33rem;
}
.second-sec-img3-sec
{
    position: absolute;
    top: 94rem;
    left: 57rem;
    margin-top: 1px;
    
}
.second-sec-img3-sec h4
{
    font-weight: bold;
    padding-left: 5rem;
    font-size: 20px;
}
.second-sec-img3-sec p
{
    margin-right: 16rem;
}
.second-sec-img4
{
    height: 9rem;
    position: absolute;
    top: 84rem;
    right: 19.5rem;
}
.second-sec-img5
{
height: 15rem;
position: absolute;
top: 80rem;
left: 7rem;
}
.second-sec-KUD
{
position: absolute;
top: 85rem;
left: 11rem;
}
.second-sec-KUD-p1
{
font-size: 17px;
}
.second-sec-KUD-hh
{
    font-size: 2.2rem;
}
/*End second section*/
/*Start third section*/
   .third-sec
   {
    position: absolute;
    top: 100rem;
    left: 8rem;
    padding: 3rem;
   } 
   .third-sec-img1
   {
    height: 20rem;
    padding: 3rem;
   }
   .third-sec-img2
   {
    height: 27rem;
    padding: 3rem;
   }
   .third-sec-img3
   {
    height: 20rem;
    padding: 3rem;
   }
   .third-sec-sec
   {
    position: absolute;
    top: 25rem;
    left: 32rem;
   }
   .third-sec-sec-h
   {
    font-size: 18px;
    margin-bottom: 10px;
   }
   .third-sec-sec-p
   {
    padding-right: 31rem;
   }
/*End third section*/
/*Start footer section*/
    .footer-sec-1
    {
        position: absolute;
        top: 140rem;
    }
    .footer-sec-1-img1
    {
        margin: 0;
        height: 55rem;
        position: absolute;
        left: -82px;
    }
    .footer-sec-1-img2
    {
        height: 35rem;
        position: absolute;
        right: -92rem;
        bottom: -39.6rem;
    }
    .footer-sec-2-but
    {
        display: flex;
        position: absolute;
        top: 24.5rem;
        left: 3rem;
    }
    .footer-sec-2-but button
    {
        margin-right: 2rem;
        border: none;
        background-color: white;
        padding: 27px 68px;
        border-radius: 17px 17px;
        color: rgb(95, 93, 93);
        font-weight: bold;
        font-size: 13px;
        transition: .4s;
    }
    .footer-sec-2-but button:hover
    {
        transform: scale(1.3);
        cursor: pointer;
        background-color: rgb(39, 149, 245);
    }
    .footer-sec-2-but1-word1
    {
        position: absolute;
        left: 43px;
        top: 15px;
    }
    .footer-sec-2-but1-word1 p
    {
        font-size: 9px;
    }
    .footer-sec-2-but1-word1 span
    {
        font-size: 14px;
        color: #96318D;
    }
    .footer-sec-2-img1
    {
        height: 2rem;
        position: absolute;
        top: 0.7rem;
        left: 0.5rem;
    }
    .footer-sec-2-but2-world2
    {
        position: absolute;
        bottom: 0.7rem;
        left: 13rem;
    }
    .footer-sec-2-but2-world2 p
    {
        font-size: 9px;
        
    }
    .footer-sec-2-but2-world2 span
    {
        font-size: 15px;
        color: #96318D;
    }
    .footer-sec-2-img2
    {
        height: 2rem;
        position: absolute;
        top: 0.7rem;
        left: 11rem;
    }
    .footer-sec-3-img
    {
        height: 25px;
        display: flex;
        position: absolute;
        top: 29rem;
        left: 50px;
    }
    .footer-sec-3-img img
    {
       margin-right: 20px;
    }
    .footer-sec-3-img img:hover
    {
        transform: scale(1.3);
        cursor: pointer;
        color: #96318D;
    }
/*End footer section*/